body {
  margin: 0;
  color:#2C3E50;
  }

/****************   Nav Section **********************/
nav {
  color: #89c2fa;
	background-color: #2C3E50;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

nav a {
  color: black;
  background-color: #89c2fa;
  padding: 10px;
  border-radius: 999px;
  text-decoration: none;
}

/***********************  Footer Section   **************************/
footer {
  color: #89c2fa;
	background-color:#2C3E50;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  padding: 10px;
  display: flex;
  justify-content: center;
  margin: 0;
}

footer a {
  color:#89c2fa;
}

/*********** Splash Page ************************/
header {
  background: linear-gradient(180deg,#2C3E50 0%, #2C3E50 95%, rgba(255, 255, 255, 1) 100%);;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

header h1 {
  font-family: "Newsreader", Merriweather;
  color: #89c2fa;
  margin: 0;
  margin-bottom: 20px;
}

header img {
  border-radius: 10px;
  box-shadow: 5px 5px black;
  margin-bottom: 10px;
}

.address {
 text-align: center;
 font-size: 20px;
}

.tagline {
  text-align: center;
  font-size: 20px;
}

/************* Sections ********************/
hr {
  
}

section {
  border-bottom: 1px solid black;
}

section dl,
section ul {
  font-size: 20px;
}

section h3 {
  font-family: "PT Serif Caption", Merriweather;
  color:#2C3E50;
  margin-left: 10px;
}

section dl {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 10px;
  justify-items: center;
}

section ul {
  list-style-type: circle;
}

section a {
  color: #89c2fa;
  text-decoration: none;
}

section a:hover {
  text-decoration: underline;
}

/**************   Projects   *****************/
.three-col {
	display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  margin: 0 30px 0 30px;
}

.three-col h3 {
  color:#2C3E50;
  justify-content: center;
  align-items: center;
}

.card {
  border: 3px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px black;
  padding: 0 5px 5px 5px;
  background-color:#a4adb5;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 475px;
  margin-bottom: 10px;
}

.card img {
  width: auto;
  height: 200px;
  justify-content: center;
  align-items: center;
  align-self: center;
}



/**************   Responsiveness   *****************/
@media (max-width: 1500px) {
  .three-col {
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }
}

@media (max-width: 1000px) {
  .three-col {
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    place-items: center;
  }
}

@media (max-width: 680px) {
    nav {
      flex-direction: column;
      align-items: center;
    }

    .three-col {
      grid-template-columns: 1fr;
    }

    nav p {
      margin: 5px;
    }
}

/**************   Contact Page   *****************/
.one-col {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr;
  padding: 5px;
  color:#2C3E50;
}

h1.one-col {
  color:#89c2fa;
}

input {
  border: 3px solid #89c2fa;
}

textarea {
  border: 3px solid #89c2fa;
}